/* line 1, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.avatar {
  max-height: 30px;
  border-radius: 15px;
  width: auto;
  vertical-align: middle;
}

/* line 8, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.room-nav-link {
  border: 1px solid rgba(91, 192, 222, 0.4);
  background: rgba(91, 192, 222, 0.45);
}
/* line 12, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.room-nav-link + .room-nav-link {
  border-top: 0 none;
}

/* line 17, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat {
  border: 1px solid rgba(191, 191, 191, 0.4);
  background: rgba(191, 191, 191, 0.5);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

/* line 25, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
  width: 100%;
}

/* line 31, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat-message-container {
  padding: 5px;
}
/* line 34, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat-message-container .avatar {
  margin: 5px;
}
/* line 38, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat-message-container .message-content {
  padding: 5px;
  border: 1px solid #428bca;
  border-radius: 5px;
  background: rgba(66, 139, 202, 0.9);
  color: white;
}
/* line 46, C:/Projects/rails-chat-tutorial/app/assets/stylesheets/rails-chat-tutorial.scss */
.chat-message-container + .chat-message-container {
  margin-top: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import "rails-chat-tutorial"
