.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.room-nav-link {
  border: 1px solid rgba(91,192,222, 40%);
  background: rgba(91,192,222, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid rgba(191, 191, 191, 40%);
  background: rgba(191, 191, 191, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid rgb(66,139,202);
    border-radius: 5px;
    background: rgba(66,139,202, 90%);
    color: rgb(255,255,255);
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}